<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twitch Streamers</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Twitch Streamers</h1>
      <div class="btn-group">
        <button class="button" id="all" onclick="showAll()">Show All</button>
        <button class="button" id="online" onclick="showOnline()">Show Online</button>
        <button class="button" id="offline" onclick="showOffline()">Show Offline</button>
      </div>
      <div class="streamer-table">
        <table style="width:100%">
          <tr>
            <th>Streamer Name</th>
            <th>Currently Streaming</th>
          </tr>
          <% data.forEach(elem => { %>
            <tr onclick="window.location='<%= elem.url %>';" id="streamer">
                <td><%= elem.display_name %></td>
              <% if(elem.status === null) { %>
                <td class="title" style="color:red">Channel is offline</td>
              <%  } else { %>
                <td class="title"><%= elem.status %></td>
              <% } %>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>
  <script type="text/javascript" src="twitch.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </body>
</html>
